<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <!-- Секция аппендеров -->
    <Appenders>
        <!-- Файловый аппендер -->
        <File name="file" fileName="log.log">
            <MarkerFilter marker="MARKER2" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout>
                <Pattern>%d %p %c{1.} [%t] %m %ex%n</Pattern>
            </PatternLayout>
        </File>
        <!-- Файловый аппендер -->
        <File name="file2" fileName="log2.log">
            <!-- Фильтр по маркеру -->
            <MarkerFilter marker="MARKER1" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout>
                <Pattern>%d %p %c{1.} [%t] %m %ex%n</Pattern>
            </PatternLayout>
        </File>
    </Appenders>
    <!-- Секция логгеров -->
    <Loggers>
        <!-- Корневой логгер -->
        <Root level="info">
            <AppenderRef ref="file" level="DEBUG"/>
        </Root>
<!--         Логгер нашего класса -->
        <Logger name="app.ExempleAplication" level="info" additivity="false">
            <AppenderRef ref="file2" level="INFO"/>
        </Logger>
    </Loggers>
</Configuration>